# http://git-scm.com/docs/git-config

[alias]
	s = status --short --branch
	l = log --oneline --decorate=short
	b = branch --list --verbose
	ignore = ! git_ignore
[push]
	default = current
[include]
	path = .gitconfig.local
[credential]
	helper = cache
