# http://git-scm.com/docs/git-config

[alias]
  s = status --short --branch
  l = log --oneline --decorate=short
  b = branch --list --verbose
  git = !git
  root = rev-parse --show-toplevel
  fa = fetch --all --prune
  co = checkout
  ci = commit
  cim = commit -m
  has = branch --list --verbose --contains
  oldest = rev-list --max-parents=0 HEAD
  ls = ls-files
[push]
  default = current
[include]
  path = .gitconfig.local
[credential]
  helper = cache
